section.already-learned {
  background-color: green;
  color: white;
}
section.to-be-learned {
  background-color: orange;
  color: green;
}
#special2 ~ li {
  font-size: 24px;
}
section.already-learned code {
  background-color: orange;
}
section code {
  background-color: green;
}
#special1 + li code {
  border: 2px solid blue;
}
